<section class="hero lunch-hero">
  <div class="hero-body">
    <div class="container">         
      <div class="lunch-header">
        <div class="lunch-location">
          Lunch at:
          <span *ngIf="isLoading"><app-loading-dots></app-loading-dots></span>
          <span *ngIf="!isLoading">{{lunch?.location}}</span>
        </div>
        <div class="invite-summary">
          Invite others using code
          <span *ngIf="isLoading"><app-loading-dots></app-loading-dots></span>
          <span *ngIf="!isLoading" class="invite-code-block" ngxClipboard [cbContent]="url">{{lunch?.navigationUrl}}</span>
        </div>
        <div class="lunch-menu-url" *ngIf="lunch && lunch.menuUrl">
          Check out the menu
          <a class="menu-url" href="{{lunch.menuUrl}}" target="_blank">here</a>
        </div>
      </div>
    </div>
  </div>
</section>